@import url(https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap);

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #9db0d0;
  font-family: "Arsenal";
}
html, body {
  height: 100%;
}
a{
  text-decoration: none;
}
body{
  background-color: #1c6448;
  display: flex;
  flex-direction: column;
}
hr{
  border: 0;
  height: 3px;
  background-color: #9db0d0;
  margin: .5em;
}
main {
  width: min(1100px, 90%); 
  margin: 20px auto; 
  background-color: #147969;
  box-shadow: 13px 11px 22px -4px white;
  flex: 1;
}
section h2{
  text-align: center;
  font-size:2em;
}
h3{
  font-size: 1.6em;
}
h3, header p {
  text-align: center;
}
p{
  font-size: 1.2em;
  list-style:inside;
}
.site-header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #1b5349;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: right;
}
.site-header h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.main-nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
.open-menu {
  position: fixed;
  top: 14px;
  left: 10px;
  z-index: 60;
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.side-menu {
  position: fixed;
  left: -230px;            
  width: 230px;
  height: 100%;
  padding-top: 60px;
  transition: left 0.3s ease;
  z-index: 5;
  background-color: #11685b;
}
.side-menu.active {
  left: 0;                 
}
.side-menu ul {
  list-style: none;
  padding: 0;
}
.side-menu a {
  display: block;
  padding: 12px 20px;
  color: aqua;
}
a:hover{
  background-color: #1b3748;
}
button:active{
  transform: scale(0.9);
}
button {
  margin: auto;
}
footer {
  text-align: center;
  background-color: #0baa8d;
}