@import url(https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap);

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #9db0d0;
  font-family: "Arsenal";
}
a{
  text-decoration: none;
}
body{
  background-color: #1c6448;
}
hr{
  border: 0;
  height: 3px;
  background-color: #9db0d0;
  margin: .5em;
}
main {
  width: min(1100px, 90%); 
  margin: 20px auto; 
  background-color: #147969;
  box-shadow: 13px 11px 22px -4px white;
}
section h2{
  text-align: center;
  font-size:2em;
}
h3{
  font-size: 1.6em;
}
h3, header p {
  text-align: center;
}
p, article ul{
  font-size: 1.2em;
  list-style:inside;
}
article ul ul{
  font-size: 1em;
}
article p, article ul {
  margin: .5em 1em ;
}
.site-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #1b5349;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: right;
}
.site-header h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.main-nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
.open-menu {
  position: fixed;
  top: 14px;
  left: 10px;
  z-index: 20;
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.side-menu {
  position: fixed;
  left: -230px;            
  width: 230px;
  height: 100%;
  padding-top: 60px;
  transition: left 0.3s ease;
  z-index: 15;
  background-color: #11685b;
}
.side-menu.active {
  left: 0;                 
}
.side-menu ul {
  list-style: none;
  padding: 0;
}
.side-menu a {
  display: block;
  padding: 12px 20px;
  color: aqua;
}
section#hero img.centrado {
  width: 40%;
  display: block;
  margin: auto;
}
figure{
  margin: 1em;
}
#artContenido figure{
  display: flex;
  justify-content: center;
}
#artContenido figure img {
  margin: .5em;
}
em {
  color: #4af7fc;
}
em.red {
  color: #f4463d;
}
em.blue{
  color: #0590f9;
}
em.golden {
  color: #f7d8a2;
}
em.white {
  color: white;
}
em.deck{
  color: #ff4c40;
}
em.tarot{
  color: #cea759;
}
em.planet{
  color: #4790a1;
}
em.spectral{
  color: #4c5898;
}
em.voucher{
  color: #912b62;
}
em.boss{
  color: #5642a1;
}
iframe{
  display: block;
  margin:  auto;
}
#artConseguido figure.collab{
  display: inline;
  justify-content: flex-start;
  margin-left: 10%;
}
#artConseguido figure img {
  margin: auto;
  width: 20%;
}
a:hover{
  background-color: #1b3748;
}
main a{
  text-decoration: underline #1b3748;
}
#galery figure {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

#galery img {
  width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin: auto;
  display: block;
}

a img:hover {
  transform: scale(1.03);
}
button:active{
  transform: scale(0.9);
}
table{
  margin: 10px auto;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
  padding: 6px 10px;
}
th, td {
  text-align: center;
}
th {
  background-color: #11685b;
  font-weight: bold;
}
tr {
  background-color: #135f4f;
}
legend {
  text-align: center;
}
button {
  margin: auto;
}
.contacto {
  display: block;
  width: 70%;
  margin: auto;
  text-align: center;
}
fieldset {
  border: #4790a1 solid;
  font-size: 25px;
}
.contacto fieldset input{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5em;
}
.contacto input {
  background-color: aqua;
  border: 1px solid #4790a1;
  padding: 1em 1em;
  margin: 10px auto;
  color: #11685b;
  border-radius: 10%;
}
.contacto button {
  display: inline-block;
  margin: 10px 7.5px;
  padding: 1em .8em;
  border-radius: 20%;
  background-color: #4790a1;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.contacto button:hover {
  transform: scale(1.03);
  box-shadow: 0 16px 30px black;
}
footer {
  text-align: center;
  background-color: #0baa8d;
}
#RRSS a {
  text-decoration: none;
}
#Steam:hover {
  background-color: transparent;
}
#RRSS{
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}
#RRSS ul {
  list-style: none;
}
#RRSS a img {
  margin: 30px auto auto auto;
}